@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/Starjedi.ttf') format('truetype');
}

body {
    font-family: 'Star Jedi', sans-serif;
    background: url('https://st2.depositphotos.com/40002268/42836/i/450/depositphotos_428366430-stock-photo-abstract-neon-glowing-dynamic-light.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.cardWrapper {
    width: 100%; 
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: black;
    border: 0.1875rem solid white;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.7);
    position: relative;
    overflow-x: auto; 
    display: flex; 
    gap: 1rem;
    scroll-snap-type: x mandatory;
    box-sizing: border-box; 
}

.cardWrapper::-webkit-scrollbar {
    height: 12px;
}

.cardWrapper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.cardWrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.card {
    width: 22rem;
    flex-shrink: 0;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    overflow: hidden;
    margin-left: 1rem; 
}

.card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-bottom: 0.125rem solid white;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
    padding: 0.625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11.25rem;
    overflow: hidden;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card .btn {
    background-color: white;
    color: black;
    border: none;
    padding: 0.625rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 0.625rem;
    width: 100%;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 1);
}

.navbar {
    background-color: black;
    color: white;
    padding: 0.625rem 0;
    text-align: center;
    border-bottom: 0.1875rem solid white;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.6);
}

.navbar .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.navbar .dropdown-menu {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.navbar .dropdown-item {
    color: white;
}

.navbar .dropdown-item a {
    color: white; 
    text-decoration: underline;  
}

.navbar .dropdown-item a:hover {
    color: yellow; 
    text-decoration: underline; 
}

.navbar .dropdown-item:hover {
    background-color: #333;
    color: white;
}

.navbar .dropdown-toggle {
    color: white;
}

.navbar .dropdown-toggle:hover {
    color: yellow;
}

.navbar .dropdown-toggle {
    background-color: black;
    border: none;
    color: white;
}

.navbar .dropdown-toggle svg {
    color: white;
}

.btn {
    color: white;
}


.heart-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.heart-btn.favorito {
    color: red;
}

.heart-btn:hover {
    transform: scale(1.2);
    color: red;
}

.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.7);
    margin-top: 1.25rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.detail-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.25rem rgba(255, 255, 255, 1);
}

.detail-container .image-container {
    width: 40%;
}

.detail-container .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    border-bottom: 0.125rem solid white;
}

.detail-container .info-container {
    width: 55%;
    padding-left: 1.25rem;
}

.detail-container .info-container .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.detail-container .info-container .card-text {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.detail-container .info-container .btn {
    background-color: white;
    color: black;
    border: none;
    padding: 0.625rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.3125rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
